<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caracteristicas</title>
    <link rel="stylesheet" href="../css/styles_copy.css">
</head>
<body>
    <div class="header background-black">
        <h1 class="white-text">Sistemas Operativos</h1>
    </div>
    <div class="nav-bar">
        <div>
            <h2 class="">Linux</h2>
        </div>
        <div>
                <ul class="nav-menu">
                <li class="nav-item"><a href="../../index.html" class="">Home</a></li>
                <li class="nav-item"><a href="caracteristicas.html" class="">Caracteristicas</a></li>
                <li class="nav-item"><a href="usos.html" class="">Usos</a></li>
                <li class="nav-item"><a href="estructura.html" class="">Estructura</a></li>
                <li class="nav-item"><a href="historia.html" class="">Historia</a></li>
                <li class="nav-item"><a href="descubre-mas.html" class="">Descubre Más</a></li>
            </ul>
        </div>            
    </div>
        <div class="main">
            <h2>Caracteristicas</h2>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Expedita, officiis, aspernatur odio enim, voluptate perspiciatis ipsa consequatur sed saepe consequuntur sit recusandae nihil 
                delectus. Saepe explicabo dicta doloribus cum ut?
                Ipsam ipsum nam fugiat commodi, esse aliquam tempore ratione, in asperiores exercitationem sit beatae dolorum doloribus delectus 
                eos eius. Non ut illo quisquam est cumque dicta delectus iusto, soluta impedit?
                Ducimus, expedita eligendi quam aperiam adipisci voluptates rem placeat dolorum numquam repudiandae natus quisquam laboriosam c
                orporis quod dolor ipsam est officia illo autem fugit quo! Laudantium perferendis facilis voluptas minus!
                Ex modi ullam necessitatibus tenetur voluptate atque veritatis, 
                magnam assumenda eligendi nemo, amet quae eaque quam. Consequatur, tempore? 
                Nisi eum velit impedit dolore consequuntur tenetur. Fugiat cum praesentium nam eum.
                Eveniet incidunt reprehenderit consequuntur totam, suscipit facere vel doloribus deserunt eos quas laborum vitae fugiat reiciendis, 
                numquam iusto, quam aliquam molestias architecto nisi ratione aperiam veritatis at iure ea. Quae?
                Ullam labore provident expedita alias neque? Autem, ad illo sapiente vitae distinctio ipsam animi tempora quam doloribus consectetur 
                iure praesentium architecto minima corporis cumque qui perferendis quisquam, magni illum earum.
                Nesciunt exercitationem dolorum in accusamus blanditiis quibusdam illum eaque, voluptate eum deleniti ea laudantium. Sapiente, amet, 
                officiis consequatur maxime obcaecati doloremque minima neque culpa quam repellat optio, alias harum voluptatem!
                Dolore veniam error illo. Pariatur quam voluptates fuga praesentium officiis aliquid obcaecati alias dolore inventore veniam delectus 
                magnam, recusandae cum enim. Aspernatur qui doloribus itaque architecto consequatur deserunt odit atque?
                Nisi velit hic quod aliquid voluptatum quaerat deleniti nesciunt recusandae? Dolore sapiente at doloremque delectus voluptas distinctio 
                impedit repellat numquam tempora architecto sint perferendis, non possimus officia! Aliquam, harum adipisci!
                Non ad, impedit dolorem ipsam atque qui! Repudiandae laborum dignissimos debitis aperiam in eveniet deleniti molestias exercitationem 
                itaque perferendis assumenda pariatur, adipisci alias cupiditate animi autem nulla rem tempora error?</div>
            

        </div>
        <div class="background-black white-text">
            <h4>Created by <a href="https://www.linkedin.com/in/ratcliffealison/" target="blank" class="white-text">Alison Ratcliffe</a> </h4>
        </div>
</body>
</html>