<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descubre Más</title>
    <link rel="stylesheet" href="../css/styles_copy.css">
</head>
<body>
    <div class="header background-black">
        <h1 class="white-text">Sistemas Operativos</h1>
    </div>
    <div class="nav-bar">
        <div>
            <h2 class="">Linux</h2>
        </div>
        <div>
                <ul class="nav-menu">
                <li class="nav-item"><a href="../../index.html" class="">Home</a></li>
                <li class="nav-item"><a href="caracteristicas.html" class="">Caracteristicas</a></li>
                <li class="nav-item"><a href="usos.html" class="">Usos</a></li>
                <li class="nav-item"><a href="estructura.html" class="">Estructura</a></li>
                <li class="nav-item"><a href="historia.html" class="">Historia</a></li>
                <li class="nav-item"><a href="descubre-mas.html" class="">Descubre Más</a></li>
            </ul>
        </div>            
    </div>
    <div class="main">
        <h2>Explora</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Página Web</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tr>
                    <td><a href="https://www.linux.com/training-tutorials/complete-beginners-guide-linux/" target="_blank">linux.com</a></td>
                    <td>Introducíon para nuevos usuarios de Linux</td>
                </tr>
                <tr>
                    <td><a href="https://linux.org/" target="_blank">linux.org</a></td>
                    <td>Página web de desarrolladores en Linux</td>
                </tr>
                <tr>
                    <td><a href="https://es.wikipedia.org/wiki/GNU/Linux" target="_blank">wikipedia.org/wiki/GNU/Linux</a></td>
                    <td>Wikipedia de GNU Linux</td>
                </tr>
                <tr>
                    <td><a href="https://ubuntu.com/tutorials/command-line-for-beginners#1-overview" target="_blank">ubuntu.com</a></td>
                    <td>Ubuntu, uno de los principales distribuidores de Linux</td>
                </tr>
                <tr>
                    <td><a href="https://www.kernel.org/" target="_blank">kernel.org</a></td>
                    <td>Archivos del Kernel de Linux</td>
                </tr>
            </table>
    </div>
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2>Contacta conmigo</h2>
            </div>
        </div>
            <form>
                <div class="row">
                    <div class="col-12">
                        <label for="">Nombre</label> <input type="text">
                    </div>
                </div>
            <div class="row">
                <div class="col-6">
                    <label for="">Email</label> <input type="email">
                </div>
                <div class="col-6">
                    <label for="">Telefono</label> <input type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="">Accepto las condiciones de privacidad</label><input type="checkbox">
                    <button>Enviar</button>
            </div>
            </div>
            </form>
        </div>
    </div>
    <div class="background-black white-text">
        <h4>Created by <a href="https://www.linkedin.com/in/ratcliffealison/" target="blank" class="white-text">Alison Ratcliffe</a> </h4>
    </div>
</body>
</html>