<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estructura</title>
    <link rel="stylesheet" href="../css/styles_copy.css">
</head>
<body>
    <div class="header background-black">
        <h1 class="white-text">Sistemas Operativos</h1>
    </div>
    <div class="nav-bar">
        <div>
            <h2 class="">Linux</h2>
        </div>
        <div>
                <ul class="nav-menu">
                <li class="nav-item"><a href="../../index.html" class="">Home</a></li>
                <li class="nav-item"><a href="caracteristicas.html" class="">Caracteristicas</a></li>
                <li class="nav-item"><a href="usos.html" class="">Usos</a></li>
                <li class="nav-item"><a href="estructura.html" class="">Estructura</a></li>
                <li class="nav-item"><a href="historia.html" class="">Historia</a></li>
                <li class="nav-item"><a href="descubre-mas.html" class="">Descubre Más</a></li>
            </ul>
        </div>            
    </div>
    <div class="main">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur eum exercitationem
            asperiores blanditiis ullam accusamus illum saepe nobis sunt laborum sapiente qui in dolor
            facilis sed nulla, ab quod. Nostrum! Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Quod culpa sed asperiores quae eum? Voluptatem tempora, sunt perferendis ut eveniet, ratione 
            nesciunt delectus repellendus tempore voluptatum quis commodi, debitis eius!
    </div>
    <div class="background-black white-text">
            <h4>Created by <a href="https://www.linkedin.com/in/ratcliffealison/" target="blank" class="white-text">Alison Ratcliffe</a> </h4>
    </div>
</body>
</html>