<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia</title>
    <link rel="stylesheet" href="../css/styles_copy.css">
</head>
<body>
    <div class="header background-black">
        <h1 class="white-text">Sistemas Operativos</h1>
    </div>
    <div class="nav-bar">
        <div>
            <h2 class="">Linux</h2>
        </div>
        <div>
                <ul class="nav-menu">
                <li class="nav-item"><a href="../../index.html" class="">Home</a></li>
                <li class="nav-item"><a href="caracteristicas.html" class="">Caracteristicas</a></li>
                <li class="nav-item"><a href="usos.html" class="">Usos</a></li>
                <li class="nav-item"><a href="estructura.html" class="">Estructura</a></li>
                <li class="nav-item"><a href="historia.html" class="">Historia</a></li>
                <li class="nav-item"><a href="descubre-mas.html" class="">Descubre Más</a></li>
            </ul>
        </div>            
    </div>
        <div class="container">
            <h2>Historia de Linux</h2>
            <div class="flex-child">
                <h3>Unix</h3>
                <p>
                    Linux se basa en sistema Unix de los años 1970 y 1980
                    Un OS esrito en Lenguaje Ensamblador usados en los microprocesadores. Luego reescrito en C. 
                    Empresa AT&T no podia comercializar Unix al principio, debido a un caso legal quelo prohibia, 
                    entonces se lo dio a personas o instituciones que lo pedían "en negro". 
                    Luego se liberó de la limitación legal y empezaron a comercializarlo como un producto que no podia ser modificado por los usuarios. 
                    Un sistema de este tipo utiliza un kernel monolítico, el kernel de Linux, que se encarga del 
                    control de procesos, redes, acceso a periféricos y sistemas de archivos. Los controladores de dispositivos se integran directamente 
                    con el kernel o se añaden como módulos que se cargan mientras el sistema está en funcionamiento.
                </p>
            </div>
            <div class="flex-child">
                <h3>GNU</h3>
                <p>
                    Década de 1980: Richard Stallman, un programador y defensor del software libre, fundó el
                    proyecto GNU en 1983. Su objetivo era crear un sistema operativo completamente libre y compatible con Unix.
                    Filosofía del Software Libre: Stallman abogó por la libertad de los usuarios de ejecutar, estudiar, modificar y distribuir el software. 
                    Estableció la Free Software Foundation (FSF) para respaldar el proyecto GNU.
                </p>
            </div>
            <div class="flex-child">
                <img src="../images/linus.jpg" alt="Creador del Kernel de Linux, Linus Torvalds con una taza de cafe y muchos pingüinos">
            </div>
            <div class="flex-child">
                <ul>
                    <li>El núcleo Linux:
                        <br/>
                    Linus Torvalds- En 1991, Linus Torvalds, un estudiante finlandés, creó el núcleo Linux como parte del proyecto GNU. 
                        Linux proporcionó el componente que faltaba para tener un sistema operativo completo.</li>
                    <li>Sistema operativo completo:
                        <br/>
                    Distribuciones Linux- A partir de ahí, se combinó el núcleo Linux con herramientas y software del proyecto GNU, así como de otras fuentes, 
                    para formar distribuciones Linux completas y funcionales.</li>
                    
                    <li>Expansión y Diversificación:</li>
                    <ul>
                        <li>Crecimiento: Linux creció rápidamente debido a su naturaleza de código abierto, atrayendo contribuciones de desarrolladores de todo el mundo.</li>
                        <li>Diversificación: Se desarrollaron numerosas distribuciones Linux para satisfacer diferentes necesidades y preferencias, como Ubuntu, Fedora y Debian.</li>
                    </ul>
                    <li>Actualidad:</li>
                        <ul>
                            <li>Uso: Hoy en día, Linux se utiliza en una variedad de dispositivos, desde servidores hasta teléfonos inteligentes (Android) y sistemas embebidos.</li>
                            <li>Comunidad Activa: La comunidad de desarrollo de Linux sigue siendo activa, con contribuciones continuas y actualizaciones constantes.</li>
                    </ul>
                    <li>En resumen, Linux es el resultado de la combinación del núcleo desarrollado por Linus Torvalds con las herramientas y el software del proyecto GNU, 
                    y ha evolucionado para convertirse en un sistema operativo ampliamente utilizado en diversas aplicaciones.</li>
                </ul>
        </div>
    </div>
    <div class="background-black white-text">
        <h4>Created by <a href="https://www.linkedin.com/in/ratcliffealison/" target="blank" class="white-text">Alison Ratcliffe</a> </h4>
    </div>
</body>
</html>