<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usos</title>
    <link rel="stylesheet" href="../css/styles_copy.css">
</head>
<body>
    <div class="header background-black">
        <h1 class="white-text">Sistemas Operativos</h1>
    </div>
    <div class="nav-bar">
        <div>
            <h2 class="">Linux</h2>
        </div>
        <div>
                <ul class="nav-menu">
                <li class="nav-item"><a href="../../index.html" class="">Home</a></li>
                <li class="nav-item"><a href="caracteristicas.html" class="">Caracteristicas</a></li>
                <li class="nav-item"><a href="usos.html" class="">Usos</a></li>
                <li class="nav-item"><a href="estructura.html" class="">Estructura</a></li>
                <li class="nav-item"><a href="historia.html" class="">Historia</a></li>
                <li class="nav-item"><a href="descubre-mas.html" class="">Descubre Más</a></li>
            </ul>
        </div>            
    </div>
    <div class="main">
        <h2>Usos</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Uso</th>
                    <th>Ejemplo</th>
                </tr>
            </thead>
            <tr>
                <td>Servidores Web</td>
                <td>Muchos sitios web importantes, incluyendo Google, Facebook y 
                    Wikipedia, utilizan servidores Linux para alojar sus páginas web.</td>
            </tr>
            <tr>
                <td>Servidores de Base de Datos</td>
                <td>MySQL, un popular sistema de gestión de bases de datos, 
                    se ejecuta con frecuencia en servidores Linux.</td>
            </tr>
            <tr>
                <td>Desarrollo de Software</td>
                <td>Los desarrolladores utilizan Linux para programar y 
                    compilar software. Herramientas como GCC (Compilador GNU) 
                    y Git son comunes en entornos Linux.</td>
            </tr>
            <tr>
                <td>Sistemas Empotrados</td>
                <td>Android, el sistema operativo móvil, 
                    está basado en el kernel de Linux y 
                    se utiliza en una amplia variedad de dispositivos móviles.</td>
            </tr>
            <tr>
                <td>Desarrollo de Software</td>
                <td>Los desarrolladores utilizan Linux para programar y 
                    compilar software. Herramientas como GCC (Compilador GNU) 
                    y Git son comunes en entornos Linux.</td>
            </tr>
            <tr>
                <td>Desarrollo de Software</td>
                <td>Los desarrolladores utilizan Linux para programar y 
                    compilar software. Herramientas como GCC (Compilador GNU) 
                    y Git son comunes en entornos Linux.</td>
            </tr>
        </table>
        </div>
        <div class="background-black white-text">
            <h4>Created by <a href="https://www.linkedin.com/in/ratcliffealison/" target="blank" class="white-text">Alison Ratcliffe</a> </h4>
        </div>
</body>
</html>