<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>ABOUT ME</h1>
    
    <p>¡Hola! Soy Alison, una psicóloga inglesa de 29 años que ha encontrado su hogar en Zaragoza desde hace 8 años. Mi trayectoria profesional 
        en psicología se ha entrelazado con una nueva pasión: el mundo del <b>coding y programming</b>, campos que estoy explorando actualmente para 
        ampliar mis habilidades.
        <br>
        En mi tiempo libre, he canalizado mi amor por las series de habla inglesa en la creación de un blog. Aquí, comparto <b>reseñas, 
        análisis y recomendaciones</b>, creando una comunidad virtual donde la conversación sobre las últimas tendencias televisivas nunca se detiene.
        <br>
        Además de mi compromiso profesional, disfruto de la cocina como forma de expresión creativa. Experimento con recetas, 
        fusionando sabores tradicionales ingleses con la riqueza de la gastronomía mediterránea que he descubierto durante mi tiempo en Zaragoza.
        <br>
        En mi hogar, no estoy sola. Mi fiel compañera es Eevee, una gata pequeña pero llena de personalidad. 
        Juntas, exploramos la vida cotidiana y compartimos esos momentos especiales que solo la convivencia con una mascota puede brindar.
        <br>
        Así que, ya sea sumergiéndome en líneas de código, descubriendo nuevas series para mi blog, 
        o experimentando en la cocina con <i>Eevee</i> merodeando a mi alrededor, mi vida en Zaragoza es una fusión emocionante de aprendizaje, 
        creatividad y compañía felina.
    </p>
    <hr>

    <footer>
        <a href="../../index.html">Homepage</a>
    </footer>
</body>
</html>