<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Thick of It</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>The thick of it</h1>
    <div>
        <img src="../images/thick_of_it.jpg" alt="Los actores de la serie The Thick of It" />
    </div>
    <p> 
    <i>"The Thick of It"</i> es una serie de comedia británica que se emitió entre 2005 y 2012, con un total de cuatro temporadas. 
    Creada por Armando Iannucci, la serie se centra en los entresijos del gobierno británico, específicamente en el Ministerio de Asuntos Sociales. 
    La trama se desarrolla en torno a los políticos y funcionarios mientras lidian con situaciones caóticas, crisis mediáticas y las intrigas del mundo político.
    <br>
    La serie es conocida por su estilo satírico y humor mordaz, y gran parte de su atractivo radica en la representación de la política como un entorno caótico y a menudo cínico. 
    Uno de los personajes más destacados es Malcolm Tucker, interpretado por Peter Capaldi, un feroz y profano director de comunicaciones del gobierno, cuyo estilo agresivo y 
    lengua afilada se ha vuelto icónico.
    <br>
    <i>"The Thick of It"</i>  utiliza un formato de estilo documental, con cámaras siguiendo a los personajes mientras navegan por los pasillos del poder. 
    La serie recibió elogios por su guion inteligente, actuaciones destacadas y su capacidad para capturar la naturaleza absurda y a menudo despiadada de la política.
    <br>
    Además, <i>"The Thick of It"</i>  fue la inspiración para la película "In the Loop" (2009), que continuó con la historia de algunos de los personajes de la serie 
    y se centra en las relaciones políticas entre el Reino Unido y los Estados Unidos.
    <br>
    En resumen, <i>"The Thick of It"</i>  es una sátira política que ofrece una mirada humorística e irónica al funcionamiento interno del gobierno británico, 
    destacando las tensiones, rivalidades y desafíos enfrentados por aquellos en el mundo de la política.
    </p>
    <button class="button" role="button"><a href="https://en.wikipedia.org/wiki/The_Thick_of_It" target="_blank">Find out more</a></button>
    <hr>
    <footer>
     <a href="../../index.html">Homepage</a>
    </footer>
</body>
</html>