<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr Who</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
   <h1>Dr Who</h1> 
   <img src="../images/drWho.jpg" alt="Los actores de la serie Dr Who"/>
   <p>
    <i>"Doctor Who"</i> es una serie de televisión británica de <b>ciencia ficción</b> que fue revivida en 2005, después de una pausa de 16 años. 
    La serie sigue las aventuras del Doctor, un Señor del Tiempo alienígena, que viaja a través del tiempo y el espacio en su nave 
    conocida como la TARDIS, que tiene la apariencia de una cabina de policía británica de los años 60 por fuera.
    <br>
    El papel del Doctor ha sido interpretado por varios actores, y la capacidad única del personaje para regenerarse explica estos cambios de actor. 
    En la serie de 2005 en adelante, Christopher Eccleston fue el primer Doctor, seguido por David Tennant, Matt Smith, Peter Capaldi y Jodie Whittaker.
    <br>
    La trama se centra en las interacciones del Doctor con diversos compañeros y criaturas alienígenas mientras lucha contra el mal y trata de 
    salvar planetas y civilizaciones enteras. La serie combina elementos de ciencia ficción, aventura, drama y ocasionalmente, toques de humor.
    <br>
    Durante estos años, <i>"Doctor Who"</i> ha ganado una amplia base de fanáticos y ha sido elogiada por su creatividad, imaginación y su capacidad para 
    abordar temas profundos y reflexivos, además de su habilidad para reinventarse y mantenerse relevante a lo largo del tiempo. La serie ha explorado 
    una amplia gama de géneros y ha creado un <b>rico universo narrativo</b>.
    </p>
    <hr>
    <button class="button" role="button"><a href="https://en.wikipedia.org/wiki/Dr_Who" target="_blank">Find out more</a></button>
    <hr>
    <footer>
    <a href="../../index.html">Homepage</a>
    </footer>
</body>
</html>