<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Skins</h1>
    <div>
    <img src="../images/skins.jpg" alt="Los actores de la serie Skins"/>
    <p>
        <i>"Skins"</i> es una serie de televisión británica que se emitió por primera vez en 2007 y finalizó en 2013. 
        La serie fue creada por Bryan Elsley y Jamie Brittain y <b>se centra en la vida de un grupo de adolescentes</b> en Bristol, Inglaterra. 
        A lo largo de sus siete temporadas, <i>"Skins"</i>  abordó temas controvertidos y exploró la vida de los jóvenes a través de un enfoque realista y a menudo provocativo.
        <br>
        Cada temporada de <i>"Skins"</i>  se centra en un grupo diferente de personajes, conocidos como una "generación". 
        Cada generación tiene su propia historia y desafíos, y los personajes principales cambian después de dos temporadas. 
        La serie es conocida por su estilo audaz y su representación sin filtros de temas como las relaciones, el sexo, las drogas, 
        la identidad, y los problemas familiares y sociales.
        <br>
        <i>"Skins"</i>  se destacó por su enfoque honesto y a veces crudo de la adolescencia, lo que la hizo tanto elogiada como controvertida. 
        Los actores principales eran en su mayoría jóvenes y relativamente desconocidos, lo que contribuyó a la autenticidad de la serie. 
        La banda sonora contemporánea también fue un elemento destacado de la serie, reflejando la música popular de la época.
        <br>
        En general, <i>"Skins"</i> fue una serie innovadora que exploró temas relevantes para la juventud, y a pesar de su controversia, 
        también recibió elogios por su <b>representación realista de los desafíos y las experiencias de los adolescentes</b>.
    </p>
    </div>
    <button class="button" role="button"><a href="https://en.wikipedia.org/wiki/Skins_(British_TV_series)" target="_blank">Find out more</a></button>
    <hr>
    <footer>
    <a href="../../index.html">Homepage</a>
    </footer>
</body>
</html>